{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

  {% templatetag openblock %} block description {% templatetag closeblock %}
  <h1 class="page-header">DJANGO MEGA</h1>
  <p class="lead">testing templates</p>
  {% templatetag openblock %} endblock description {% templatetag closeblock %}

  {% templatetag openblock %} block content {% templatetag closeblock %}
  <h3>Title</h3>
  <p>Staring point of django project</p>
  {% templatetag openblock %} endblock content {% templatetag closeblock %}
